@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,500i,700,700i&amp;subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url("ionicons.min.css");
@import url("font-awesome.min.css");

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	line-height: 24px;
	color: #808080;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.box {
	margin: 0 -10px;
}
.no-space {
	padding: 0;
	margin: 0;
}
.no-margin {
	margin: 0;
}
/* =====  margin top  ===== */

.mtblr_20 {
	margin: 20px;
}
.mt_0 {
	margin-top: 0;
}
.mt_10 {
	margin-top: 10px;
}
.mt_20 {
	margin-top: 20px;
}
.mt_25 {
	margin-top: 25px;
}
.mt_30 {
	margin-top: 30px;
}
.mt_40 {
	margin-top: 40px;
}
.mt_50 {
	margin-top: 50px;
}
.mt_60 {
	margin-top: 60px;
}
.mt_70 {
	margin-top: 70px;
}
.mt_80 {
	margin-top: 80px;
}
.mt_90 {
	margin-top: 90px;
}
.mt_100 {
	margin-top: 100px;
}
/* =====  margin bottom  ===== */

.mb_0 {
	margin-bottom: 0;
}
.mb_10 {
	margin-bottom: 10px;
}
.mb_20 {
	margin-bottom: 20px;
}
.mb_30 {
	margin-bottom: 30px;
}
.mb_40 {
	margin-bottom: 40px;
}
.mb_50 {
	margin-bottom: 50px;
}
.mb_60 {
	margin-bottom: 60px;
}
.mb_70 {
	margin-bottom: 70px;
}
.mb_80 {
	margin-bottom: 80px;
}
.mb_90 {
	margin-bottom: 90px;
}
.mb_100 {
	margin-bottom: 100px;
}
/* =====  margin top bottom ===== */

.mtb_10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mtb_20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mtb_30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mtb_40 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.mtb_50 {
	margin-top: 50px;
	margin-bottom: 50px;
}
.mtb_60 {
	margin-top: 60px;
	margin-bottom: 60px;
}
.mtb_70 {
	margin-top: 70px;
	margin-bottom: 70px;
}
.mtb_80 {
	margin-top: 80px;
	margin-bottom: 80px;
}
.mtb_90 {
	margin-top: 90px;
	margin-bottom: 90px;
}
.mtb_100 {
	margin-top: 100px;
	margin-bottom: 100px;
}
/* =====  padding  ===== */

.no-padding {
	padding: 0;
}
/* =====  padding top ===== */
.pt_10 {
	padding-top: 10px;
}
.pt_20 {
	padding-top: 20px;
}
.pt_30 {
	padding-top: 30px;
}
.pt_40 {
	padding-top: 40px;
}
.pt_50 {
	padding-top: 50px;
}
.pt_60 {
	padding-top: 60px;
}
.pt_70 {
	padding-top: 70px;
}
.pt_80 {
	padding-top: 80px;
}
.pt_90 {
	padding-top: 90px;
}
.pt_100 {
	padding-top: 100px;
}
/* =====  padding bottom ===== */
.pb_10 {
	padding-bottom: 10px;
}
.pb_20 {
	padding-bottom: 20px;
}
.pb_30 {
	padding-bottom: 30px;
}
.pb_40 {
	padding-bottom: 40px;
}
.pb_50 {
	padding-bottom: 50px;
}
.pb_60 {
	padding-bottom: 60px;
}
.pb_70 {
	padding-bottom: 70px;
}
.pb_80 {
	padding-bottom: 80px;
}
.pb_90 {
	padding-bottom: 90px;
}
.pb_100 {
	padding-bottom: 100px;
}
/* =====  padding top bottom ===== */
.ptb_10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.ptb_20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.ptb_30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.ptb_40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.ptb_50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.ptb_60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.ptb_70 {
	padding-top: 70px;
	padding-bottom: 70px;
}
.ptb_80 {
	padding-top: 80px;
	padding-bottom: 80px;
}
.ptb_90 {
	padding-top: 90px;
	padding-bottom: 90px;
}
.ptb_100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

ul li {
	list-style: none;
}

.header-top {
	background-color: #f2f2f2;
	font-size: 13px;
}

.header-top-left, .header-top-right {
	margin: 8px 0;
}

.header-top-left li , .header-top-right li {
	display: inline;
	cursor: pointer;
	padding: 0 20px;
	border-left: 1px solid #bbb;
	line-height: 11px;
}

.header-top-left > li:first-child {
	padding: 0 20px 0 0;
}

.header-top-left > li:first-child, .header-top-right > li:first-child {
	border-left: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #808080;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}

a:hover, a:focus {
	color: #000;
	text-decoration: none;
	transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
}

a, a:focus, a:active, a:link, img {
	outline: none;
	text-decoration: none;
}
a.active {
	color: #000;
}
p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1 {
	font-size: 36px;
	line-height: 42px;
}

h2 {
	font-size: 30px;
	line-height: 36px;
}
h3 {
	font-size: 22px;
	line-height: 26px;
}
h4 {
	font-size: 18px;
	line-height: 22px;
}
h5 {
	font-size: 16px;
	line-height: 20px;
}
h6 {
	font-size: 14px;
	line-height: 18px;
}
.uppr {
	text-transform: uppercase;
}
.lower {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}

.navbar {
	border-radius: 0;
	border: 0;
	margin: 0;
}

.navbar-brand {
	padding: 15px 0;

}

.navbar-header, .navbar-brand {
	height: auto;
}

::-moz-selection {
 background-color: #1A1A1A;
 color: #FFF;
}
::selection {
	background-color: #1A1A1A;
	color: #FFF;
}
img {
	height: auto;
	max-width: 100%;
	border: none;
	outline: none;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

.navbar-toggle {
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	margin: 2px 15px 0 0;
	position: relative;
	padding: 0;
}

.i-bar {
	float: right;
	font-size: 21px;
	line-height: 1;
}

.shopping-icon {
	float: right;
	margin: 3px 0 0 0px;
	display: inline-flex;
	cursor: pointer;
	position: relative;
}

.shopping-icon .cart-item {
	color: #000;
	font-weight: 600;
}

.shopping-icon span {
	color: #E91E63;
}
.shopping-icon:hover:before {
	background: transparent url("../images/sprite.png") no-repeat scroll -102px -424px;
	transition: 0.5s;
}
.shopping-icon:before {
	background: transparent url("../images/sprite.png") no-repeat scroll -102px -472px;
	width: 24px;
	height: 24px;
	content: "";
	display: block;
	margin: 0 10px 0 0px;
	transition: 0.5s;
}

#search-overlay-btn {
	background: transparent url("../images/sprite.png") no-repeat scroll -53px -474px;
	border: medium none;
	display: block;
	height: 20px;
	transition: all 0.5s ease 0s;
	width: 20px;
	margin: 3px 22px 0 0
}
#search-overlay-btn:hover {
	background-position: -53px -426px;
}


.search-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	-webkit-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	-moz-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	-ms-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	-o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
	text-align: center;
}

#cart-dropdown {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	position: absolute;
	right: 0;
	top: 44px;
	z-index: 3;
}

.nav > li > a {
	padding: 7px 10px;
	border-radius: 0;
}

#menu > li > a {
	font-weight: 500;
	padding: 55px 18px;
	border-radius: 0;
	overflow: hidden;
	text-transform: uppercase;
}

#menu > li > a:hover, #menu > li > a:focus {
	background: #E91E63;
	color: #fff;
}

#menu > li > a::before {
	background: #E91E63 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleY(0);
	transform-origin: 0 0 0;
	transition-duration: 0.3s;
	z-index: -1;
}

#menu .mega-dropdown:hover a::before, #menu > li:hover > a::before, #menu > li:focus > a::before {
	transform: scaleY(1);
}

.header-bottom {
	background: #000;
}

.category {
	background: #E91E63 none repeat scroll 0 0;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 15px;
	display: grid;
	cursor: pointer;
}

.menu-bar {
	display: inline-block;
	width: 100%;
}

.category_text {
	float: left;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	line-height: 21px;
}

#category-menu-responsive {
	display: none;
}

.offers {
	padding: 7px 0px 7px 0px;
	letter-spacing: 0;
	font-style: italic;
	font-weight: 600;
	overflow: hidden;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: ellipsis;
}
textarea {
	min-height: 140px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #808080;
 opacity:1
}

::-moz-placeholder { /* Firefox 19+ */
 color: #808080;
 opacity:1
}
:-ms-input-placeholder { /* IE 10+ */
 color: #808080;
 opacity:1
}
:-moz-placeholder { /* Firefox 18- */
 color: #808080;
 opacity:1
}
input:focus, textarea:focus {
	border-color: #000;
}

.form-control {
	border-radius: 0px;
	box-shadow: none;
	max-width: 100%;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], input[type="file"], textarea, select {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e5e5e5;
	border-image: none;
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	background-color: #fff;
	color: #888;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	outline: medium none;
	transition: all 0.2s ease 0s;
	padding: 8px 10px;
	min-width: 40px;
}

.btn {
	background: #E91E63 none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	font-weight: 500;
}

#category-menu, .main-navigation {
	background: #f2f2f2;
	width: 100%;
	padding: 6px 0;
}

#column-left .nav > li, #category-menu-responsive .nav > li {
	margin: 0 20px;
	border-bottom: 1px dashed #ccc;
}

.footer {
	background: #f2f2f2;
}

.footer-bottom {
	background: #000;
	color: #b2b2b2;
}

.payment-icon > ul > li {
	display: inline-block;
	font-size: 22px;
}

.footer-logo a img {
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
}

.footer-logo a:hover img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity: 0.3
}

.footer-block li {
	padding: 5px 0;
}

.social_icon li {
	display: inline-block;
	width: 25px 25px;
}

.footer-title, .footer h6 {
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}

.toggle.active .toggle_div::before {
	color: #000;
	content: "\f055";
	font-family: "FontAwesome";
	font-size: 22px;
	padding: 0;
	position: absolute;
	right: 0;
}
.toggle .toggle_div::before {
	color: #000;
	content: "\f056";
	font-family: "FontAwesome";
	font-size: 22px;
	padding: 0;
	position: absolute;
	right: 0;
}

.footer .form-group > input {
	width: 100%;
}

.btn:hover, .btn:focus, .btn.focus {
	background: #000 none repeat scroll 0 0;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}

.banner {
	overflow: hidden;
}

.main-banner .owl-dots {
	position: absolute;
	bottom: 20px;
	text-align: center;
	width: 100%;
}

.main-banner .owl-dot {
	display: inline-block;
}

.main-banner .owl-dot > span {
	background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
	border: 2px solid #F1F1F3;
	border-radius: 50%;
	display: inline-block;
	height: 14px;
	margin: 4px;
	width: 14px;
}
.main-banner .owl-dot.active > span {
	background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
	border: 2px solid #E91E63;
	border-radius: 50%;
	display: inline-block;
	height: 14px;
	margin: 4px;
	width: 14px;
}

.sub-hover {
	overflow: hidden;
	text-align: center;
}

.sub-hover img {
	display: inline-block;
}

.sub-hover:hover img {
	transform: scale(1.1);
	transition: all 0.6s ease 0s;
}

.thuong-hieu {
	position: relative;
	padding: 0px 50px;
	border: 1px solid #f2f2f2;
	margin-top: 25px;
}

.thuong-hieu img {
	padding: 0 10px;
}

.thuong-hieu .owl-nav {
	position: absolute;
	top: calc(50% - 10px);
	width: 100%;
	left: 0;
}

.owl-nav > div {
	background: url("../images/sprite.png") no-repeat scroll -33px -507px;
	height: 25px;
	width: 25px;
	font-size: 0px;
	position: absolute;
	border: 1px solid #E5e5e5;
	transition: 0.5s;
}

.owl-nav .owl-prev {
	background-position: 9px -507px;
	opacity: 1;
	right: 33px; 
}

.thuong-hieu .owl-nav .owl-prev {
	left: 0px;
}

.owl-nav .owl-next {
	left: auto;
	right: 0;
	opacity: 1;
}

.owl-nav > div:hover {
	border-color: #E91E63;
}

.owl-nav .owl-prev:hover {
	background-color: #E91E63;
	background-position: 9px -537px;
	transition: 0.5s;
}

.owl-nav .owl-next:hover {
	background-color: #E91E63;
	background-position: -33px -537px;
	transition: 0.5s;
}

@media (max-width: 480px) {
	.navbar-header {
		width: 100% !important;
		text-align: center;
		margin: 0;
	}

	.navbar-brand, .header-right {
		width: 100%;
	}

	.navbar-brand > img {
		display: inline-block;
	}

	.header-right.pull-right.mtb_50 {
		margin: 0 0 20px;
	}
	
	.navbar-collapse {
		top: 136px !important;
	}

}

@media (max-width: 767px) {
	.header-top-left, .header-top-right {
		text-align: center;
	}

	#category-menu-responsive {
		display: none;
	}

	.payment-icon, .copyright-part {
		text-align: center;
	}

	#category-menu {
		display: none !important;
	}
}

@media (max-width: 991px) {
	.navbar-header {
		float: left;
		width: 57%;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		width: 100%;
		position: absolute;
		z-index: 1;
		background: #f2f2f2;
		top: 120px;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
		z-index: 3;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.collapse.in {
		display: block !important;
	}

	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}

	.navbar-nav > li {
		float: none;
	}

	.navbar-nav>li>a {
		padding: 15px !important;
	}

	.footer-ul {
		display: none;
	}

	.footer-title {
		cursor: pointer;
		position: relative;
	}

	.footer .form-group > input {
		float: left;
		width: 280px;
	}

	.footer .form-group .btn{
		float: left;
		margin: 15px;
		padding: 10px 20px;
	}

	.footer-block ul {
		display: none;
	}
}

@media (max-width: 1199px) {
	#menu > li > a {
		padding: 55px 7px;
	}
}